<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg py-3 shadow-sm bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" style="font-weight: bold" href="{{ url_for('index') }}">
            Login SUAP OAuth
        </a>

        {% if user_data %}
        <div>
            <a href="{{ url_for('logout') }}" class="btn btn-danger">
                Logout
            </a>
        </div>
        {% endif %}
    </div>
</nav>

<div class="container my-5">
    {% block content %}{% endblock %}
</div>

</body>
</html>